@model MyFirstMVC.Models.Stock

@{
    ViewData["Title"] = $"Удаление склада {Model.Name}";
}

<h3>@( $"Вы уверены, что ходите удалить склад {Model.Name}")</h3>
<div>
    <h4>Склад</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="RemoveStock">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад к списку складов</a>
    </form>
</div>
